# Compiled frontend output and cache
portfolio_frontend/dist/
portfolio_frontend/tmp/
portfolio_frontend/out-tsc/
portfolio_frontend/bazel-out/
portfolio_frontend/.angular/

# Frontend dependencies
portfolio_frontend/node_modules/
portfolio_frontend/npm-debug.log
portfolio_frontend/yarn-error.log

# Backend dependencies and virtual environment
portfolio_backend/venv/
portfolio_backend/.venv/
portfolio_backend/__pycache__/
portfolio_backend/*/__pycache__/
portfolio_backend/db.sqlite3

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
